.projects iframe {
  width: 50vw;
  height: 50vw;
  border-radius: 2vw;
  border: none;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
  width: 100vw;
  margin-top: 20vh;
}

.projects p {
  text-align: center;
  width: 50vw;
  color: rgb(255, 240, 226);
  /* background-color: red; */
}

.projects-title {
  text-align: center;
  font-size: 5vw;
  color: rgb(175, 96, 28);
  /* background: purple; */
}

.projects a {
  font-family: Rosebella;
  font-size: 6vw;
  color: rgb(255, 240, 226);
  text-decoration: none;
  text-shadow: 2px 2px rgb(187, 107, 33);
}

.projects h3 {
  margin: 5vh;
}
