.App {
  text-align: center;
  background: url("./Assets/background.jpg");
  background-size: cover;
}

h1 {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 5vw;
  background: rgba(128, 128, 128, 0.5);
  height: 10vh;
}

.App-body {
  background-color: rgba(13, 16, 17, 0.9);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: gray;
  text-decoration: none;
}
