.App {
  font-family: Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
  background: url("./Assets/background.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 0;
  /* background-color: red; */
}

.App-body {
  padding-top: 5vh;
  background-color: rgba(1, 0, 3, 0.95);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

a {
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.813);
  -webkit-transform: scale(1.5);
  text-decoration: none;
  transition: 1s;
}

.h1-div {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  padding: 1vh 2vw;
  height: 20vh;
  margin: 8vh 0;
}

h1 {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.815);
}

h2 {
  font-size: 2rem;
  color: brown;
}
