.App {
  text-align: center;
  background: url("./Assets/background.jpg");
  background-size: cover;
  margin-left: 0;
  /* background-color: red; */
}

.App-body {
  padding-top: 5vh;
  background-color: rgba(13, 16, 17, 0.9);
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgba(255, 255, 255, 0.8);
}

.header-nav {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

a {
  color: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.h1-div {
  background: rgba(128, 128, 128, 0.5);
  width: 100vw;
  display: flex;
  align-items: center;
  padding-left: 5vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  height: 10vh;
  margin: 5vh;
  color: rgba(0, 0, 0, 0.3);
}

.right {
  position: absolute;
  transform: translateX(63vw);
  transition: 2s;
  color: rgba(255, 255, 255, 0.3);
}

.left {
  position: absolute;
  transform: translateX(5vw);
  transition: 2s;
}
